.tabordion {
    color: #333;
    display: block;
    margin: auto;
    position: relative;
}
.tabordion input[name="sections"] {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
.tabordion section {
    display: block;
}
.tabordion section label {
    background: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 20px;
    position: relative;
    width: 180px;
    z-index: 100;
}
.tabordion section label:hover {
    background: #bbb;
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 20px;
    position: relative;
    width: 180px;
    z-index: 100;
}
.tabordion section article {
    display: none;
    left: 230px;
    min-width: 300px;
    padding: 0 0 0 21px;
    position: absolute;
    top: 0;
}
.tabordion section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left: -229px;
    position: absolute;
    top: 0;
    width: 220px;
    z-index: 1;
}
.tabordion input[name="sections"]:checked + label {
    border: 1px solid #000;
    background: #bbb;
    color: #000;
}
.tabordion input[name="sections"]:checked ~ article {
    display: block;
}
@media (max-width: 533px) {
    .tabordion {
        width: 100%;
    }
    .tabordion section label {
        font-size: 1em;
        width: 160px;
    }
    .tabordion section article {
        left: 200px;
        min-width: 270px;
    }
    .tabordion section article:after {
        background-color: #ccc;
        bottom: 0;
        content: "";
        display: block;
        left: -199px;
        position: absolute;
        top: 0;
        width: 200px;
    }
}
@media (max-width: 768px) {
    .tabordion {
        width: 96%;
    }
}
@media (min-width: 1366px) {
    .tabordion {
        width: 70%;
    }
}
